@charset "UTF-8";
@import "compass";
@import "compass/reset";
@import "mixin";

// variable ------------------------------
$MAIN_FONT: Futura, YuGothic, '游ゴシック', "ヒラギノ角ゴPro W3", "Hiragino Kaku Gothic Pro", Meiryo, "メイリオ", Helvetica, Arial, sans-serif;

// ------------------------------
.onlysp {
  display: none;
}
.hidden {
  display: none;
}

// ------------------------------
body {
  font-family: $MAIN_FONT;
  @include user-select(none);
}
body * {
  box-sizing: border-box;
}

// ------------------------------
.wrapper {
  width: 320px;
  font-size: 30px;
  text-align: center;
}

.ttl {
  margin: 10px;
}

.btn {
  background-color: #FFCC66;
  text-align: center;
  cursor: pointer;
  margin: 10px;
  
  &:hover {
    opacity: 0.7;
  }
}

// .authBtn {
//   @extend .btn;
//   display: inline-block;
//   padding: 0 0.5em;
//   height: 30px;
//   line-height: 30px;
//   display: none;
// }

$btnsize: 250px;
.btns {
  position: relative;
  height: $btnsize;
  margin-top: 30px;
}
.attendanceBtn {
  width: $btnsize;
  height: $btnsize;
  line-height: $btnsize;
  border-radius: $btnsize / 2;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.authBtn {
  @extend .btn;
  @extend .attendanceBtn;
  display: none;
}

.attendBtn {
  @extend .btn;
  @extend .attendanceBtn;
  background-color: #FF6666;
}
.leaveBtn {
  @extend .btn;
  @extend .attendanceBtn;
  background-color: #66CCFF;
  display: none;
}

.message {
  margin: 30px auto;
}

// sp ------------------------------
.isSP {
  .wrapper {
    margin: 0 auto;
  }
}
