@charset "UTF-8";
@import "compass";
@import "compass/reset";
@import "mixin";

// variable ------------------------------
$MAIN_FONT: Futura, YuGothic, '游ゴシック', "ヒラギノ角ゴPro W3", "Hiragino Kaku Gothic Pro", Meiryo, "メイリオ", Helvetica, Arial, sans-serif;

// ------------------------------
.onlysp {
  display: none;
}
.hidden {
  display: none;
}

// ------------------------------
body {
  font-family: $MAIN_FONT;
  // @include user-select(none);
}
body * {
  box-sizing: border-box;
}

// ------------------------------
.wrapper {
  min-width: 1024px;
}

.btn {
  display: inline-block;
  padding: 0 0.5em;
  height: 30px;
  line-height: 30px;
  background-color: #FFCC66;
  text-align: center;
  cursor: pointer;
  margin: 10px;
  
  &:hover {
    opacity: 0.7;
  }
}
